{{ if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ with .Params.subtitle }}
<h2 class="subtitle">{{ . }}</h2>
{{ end }} {{ if .IsPage }}
<h3 class="post-meta-line">
{{ $author := or (or .Params.author (index (or .Site.Params.author dict) .Section)) "" }}
{{ $publishDate := "" }}
{{ if .Params.date }}
{{ $publishDate = .Date.Format "2006-01-02" }}
{{ else if .Lastmod }}
{{ $publishDate = .Lastmod.Format "2006-01-02" }}
{{ end }}
{{ $updated := "" }}
{{ with .Params.updated }}
{{ $updated = (time .).Format "2006-01-02" }}
{{ else }}
{{ if and .Lastmod (ne (.Lastmod.Format "2006-01-02") $publishDate) }}
{{ $updated = .Lastmod.Format "2006-01-02" }}
{{ end }}
{{ end }}
{{ with $author }}{{ . }}{{ end }}
{{ with $publishDate }}
{{ if $author }} / {{ end }}{{ . }}
{{ end }}
{{ if and $updated (ne $updated $publishDate) }}
（更新 {{ $updated }}）
{{ end }}
</h3>
{{ end }}
<hr />
{{ end }}
